<ion-view class='checkPhone'>
	<ion-header-bar align-title="center" class="info-header">
        <div class="buttons">
            <a class="button icon-left ion-chevron-left button-clear button-dark button-self" onclick="javascript:history.back();"><span>返回</span></a>

        </div>
        <h1 class="title">注册会员</h1>
    </ion-header-bar>
    <ion-content class='checkPhoneCtn'>
        <h4>欢迎注册融合视讯会员</h4>
        <div class="col col-67 col-offset-20 checkBox">
            <label class="item item-input">
                <i class="icon ion-ios7-telephone placeholder-icon"></i>
                <input type="text">
            </label>
            <a href="#/registerSuccess" class="col">获取手机验证码</a>
        </div>
    </ion-content>
</ion-view>