<ion-view>
    <ion-content class="guide" scroll='false'>
      <ion-slide-box>
          <ion-slide>
            <div class="box first">
              <img src="img/bg1.jpg" alt="slide 1">
              <button ng-click="nextSlide()"><span>下一步</span></button>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box second">
              <img src="img/bg2.jpg" alt="slide 2">
              <button ng-click="nextSlide()"><span>下一步</span></button>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box third" ng-click="nextSlide()">
              <img src="img/bg3.jpg" alt="slide 3">
              <button ng-click="enjoy()"><span>开始体验</span></button>
            </div>
          </ion-slide>
    </ion-slide-box>
    </ion-content>    
</ion-view>
