<ion-view class='protocol'>
	<ion-header-bar align-title="center" class="info-header">
        <div class="buttons">
            <a class="button icon-left ion-chevron-left button-clear button-dark button-self" onclick="javascript:history.back();"><span>返回</span></a>

        </div>
        <h1 class="title">注册会员</h1>
    </ion-header-bar>
    <ion-content class='protocolCtn padding'>
        <h4>融合视讯网站用户注册协议</h4>
        <p>您在接受融合视讯网站提供的各项服务之前，请详细阅读本协议条款。如您不同意本协议条款及随时对其的修改，您可以主动取消融合视讯网站提供的服务；您一旦访问融合视讯网站或使用融合视讯网站的所有服务，即视为您已了解并完全同意遵守本协议条款的全部内容。</p>
	    <h6>一、总则 </h6>
	    <p>1.服务使用人(以下称“用户”)为获得融合视讯网站提供基于互联网的相关服务，完全同意本协议的全部条款并按照页面上的提示完成注册程序。如果用户在注册程序过程中勾选“我已经阅读并同意融合视讯网站用户协议条款”一项即表示用户与融合视讯网站达成协议，完全接受本协议条款项下的全部条款。</p> 
	    <p>2.用户可以使用融合视讯网站提供的各单项服务，当用户使用融合视讯网站各单项服务时，用户的使用行为视为其对该单项服务的协议条款以及融合视讯网站在该单项服务中发出的各类公告的同意。</p> 
	    <p>3.融合视讯网站协议条款以及各单项协议条款和公告由融合视讯网站随时更新，且无需另行通知。您在使用相关服务时，应关注并遵守其所适用的相关条款。</p> 
		<h6>二、服务内容 </h6>
		<p>1. 融合视讯网站服务的具体内容由融合视讯网站根据广大用户提供的信息情况提供，例如论坛、图片、视频、音乐等。融合视讯网站保留随时变更、中断或终止部分或全部网络服务包括收费网络服务的权利。</p> 
		<p>2.用户购买融合视讯网站提供的收费服务项目后，除发生法律规定的不可抗力事件外，用户不可退费。</p> 
		<p>3.用户必须同意接受融合视讯网站通过电子邮件或其他方式向用户发送广告或其他相关商业信息。</p> 
		<p>4.融合视讯网站仅提供相关的网络服务，除此之外与相关网络服务有关的设备(如电脑、调制解调器及其他与接入互联网有关的装置)及所需的费用(如为接入互联网而支付的电话费及上网费)均应由用户自行负担。</p> 
    </ion-content>
    <ion-footer-bar class='protocolFoot'>
    	<span>
    		<input type="checkbox" ng-click="next()">我同意融合视讯网站用户注册协议
    	</span>
    </ion-footer-bar>
</ion-view>