<ion-view class='registerSuccess'>
	<ion-header-bar align-title="center" class="info-header">
        <div class="buttons">
            <a class="button icon-left ion-chevron-left button-clear button-dark button-self" onclick="javascript:history.back();"><span>返回</span></a>

        </div>
        <h1 class="title">提示信息</h1>
    </ion-header-bar>
    <ion-content class='registerSuccessCtn'>
        <div class="col col-67 successTip">
            <h6>恭喜你注册成功</h6>
            <span>{{account}}</span><br>
            <a href="#/login">请返回登录页面</a>
        </div>
    </ion-content>
</ion-view>