<ion-view title="我的订单" class='myOrder'>
  <ion-header-bar align-title="center" class="info-header">
        <div class="buttons">
            <a class="button icon-left ion-chevron-left button-clear button-dark button-self" href="#/tab/myaccount"><span>返回</span></a>

        </div>
        <h1 class="title">我的订单</h1>
  </ion-header-bar>
  <div class="row infoTip">
      <div class="col col-50" ng-class="{activaty:$state.includes('tab.myOrder.notPay')}">
        <i class="icon ion-left ion-person"></i>
        <a href="#/tab/myOrder/notPay">未支付的订单</a>
      </div>
      <div class="col" ng-class="{activaty:$state.includes('tab.myOrder.payOrder')}">
        <i class="icon ion-left ion-ios7-clock-outline"></i>
        <a href="#/tab/myOrder/payOrder">已支付的订单</a>
      </div>
  </div>
  <ion-content on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" style="margin-top:74px;" scroll="false">
      <ion-nav-view name="myOrder-myOrderList" animation="no-animation">
      </ion-nav-view>
  </ion-content>
</ion-view>
