<div class="lists">
    <div class="item item-icon-left">
        <p class="orderNumber">14100922811681065</p>
        <div class="item item-thumbnail-left">
            <a class="cancel" href="">删除订单</a>
        </div>
    </div>
    <div class="item item-thumbnail-left">
        <img src="img/p.jpg">
        <h2>高控盘个股启动点分析
            <br>
            <br>
            <span>2</span>
        </h2>
        <span class='original'>原价2999.0</span>
        <span class='price'>￥1999.0</span>
    </div>
</div>
<div class="lists">
    <div class="item item-icon-left">
        <p class="orderNumber">14100922811681065</p>
        <div class="item item-thumbnail-left">
            <a class="cancel" href="">删除订单</a>
        </div>
    </div>
    <div class="item item-thumbnail-left">
        <img src="img/p.jpg">
        <h2>高控盘个股启动点分析
            <br>
            <br>
            <span>2</span>
        </h2>
        <span class='original'>原价2999.0</span>
        <span class='price'>￥1999.0</span>
    </div>
</div>
